{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/finance.css' %}">

{% endblock %}


{% block title %}
Voucher Details
{% endblock %}


{% block content %}

<div class="container-fluid">


    <!-- Header -->

    <div class="card shadow-sm border-0 mb-4">

        <div class="card-body">


            <div class="row align-items-center">


                <div class="col-md-8">


                    <h3 class="font-weight-bold mb-1">

                        <i class="fas fa-file-invoice"></i>

                        Voucher Details

                    </h3>


                    <p class="text-muted mb-0">

                        {{ voucher.voucher_no }}

                    </p>


                </div>



                <div class="col-md-4 text-end">


                    <a href="{% url 'voucher_pdf' voucher.voucher_no %}"
                       class="btn btn-secondary">

                        <i class="fas fa-print"></i>
                        Print PDF

                    </a>


                </div>


            </div>


        </div>

    </div>





    <!-- Voucher Information -->


    <div class="card shadow-sm border-0 mb-4">


        <div class="card-header bg-success text-white">


            <h5 class="mb-0">

                Voucher Information

            </h5>


        </div>



        <div class="card-body">


            <div class="row">


                <div class="col-md-4 mb-3">


                    <strong>
                        Voucher No
                    </strong>


                    <br>


                    {{ voucher.voucher_no }}


                </div>



                <div class="col-md-4 mb-3">


                    <strong>
                        Journal ID
                    </strong>


                    <br>


                    {{ voucher.journal_id }}


                </div>



                <div class="col-md-4 mb-3">


                    <strong>
                        Type
                    </strong>


                    <br>


                    <span class="badge bg-info">


                        {{ voucher.get_voucher_type_display }}


                    </span>


                </div>


            </div>




            <div class="row">


                <div class="col-md-4 mb-3">


                    <strong>
                        Customer
                    </strong>


                    <br>


                    {% if voucher.customer %}

                        {{ voucher.customer.username }}

                    {% else %}

                        -

                    {% endif %}


                </div>




                <div class="col-md-4 mb-3">


                    <strong>
                        Reference No
                    </strong>


                    <br>


                    {{ voucher.reference_no|default:"-" }}


                </div>




                <div class="col-md-4 mb-3">


                    <strong>
                        Date
                    </strong>


                    <br>


                    {{ voucher.created_at|date:"d M Y H:i" }}


                </div>


            </div>





            <div class="row">


                <div class="col-md-4">


                    <strong>
                        Status
                    </strong>


                    <br>


                    {% if voucher.status == "posted" %}

                    <span class="badge bg-success">
                        Posted
                    </span>


                    {% elif voucher.status == "draft" %}


                    <span class="badge bg-warning text-dark">
                        Draft
                    </span>


                    {% else %}


                    <span class="badge bg-danger">
                        Cancelled
                    </span>


                    {% endif %}


                </div>


            </div>


        </div>


    </div>





    <!-- Journal Entries -->


    <div class="card shadow-sm border-0 mb-4">


        <div class="card-header bg-dark text-white">


            <h5 class="mb-0">

                Debit / Credit Entries

            </h5>


        </div>




        <div class="card-body p-0">


            <div class="table-responsive">


                <table class="table table-bordered mb-0">


                    <thead class="table-light">


                        <tr>


                            <th>
                                Account
                            </th>





                            <th class="text-end">
                                Debit
                            </th>


                            <th class="text-end">
                                Credit
                            </th>


                            <th>
                                Narration
                            </th>


                        </tr>


                    </thead>



                    <tbody>



                    {% for entry in entries %}



                    <tr>


                        <td>

                            {{ entry.account.name }}

                        </td>







                        <td class="text-end">


                            {{ entry.debit }}


                        </td>




                        <td class="text-end">


                            {{ entry.credit }}


                        </td>




                        <td>


                            {{ entry.narration }}


                        </td>



                    </tr>



                    {% endfor %}



                    </tbody>




                    <tfoot>


                        <tr class="fw-bold">


                            <td colspan="2"
                                class="text-end">

                                Total

                            </td>


                            <td class="text-end">

                                {{ total_debit }}

                            </td>


                            <td class="text-end">

                                {{ total_credit }}

                            </td>


                            <td></td>


                        </tr>


                    </tfoot>


                </table>


            </div>


        </div>


    </div>






    <!-- Notes -->


    {% if voucher.notes %}


    <div class="card shadow-sm border-0 mb-4">


        <div class="card-body">


            <strong>
                Notes:
            </strong>


            <p class="mb-0">

                {{ voucher.notes }}

            </p>


        </div>


    </div>


    {% endif %}





    <!-- Actions -->


    <div class="text-end mb-5">



        <a href="{% url 'voucher_list' %}"
           class="btn btn-secondary">

            Back

        </a>




        {% if voucher.status == "draft" %}



        <a href="{% url 'voucher_edit' voucher.voucher_no %}"
           class="btn btn-warning">


            <i class="fas fa-edit"></i>

            Edit


        </a>




        <a href="{% url 'voucher_post' voucher.voucher_no %}"
           class="btn btn-success">


            <i class="fas fa-check"></i>

            Post


        </a>




        <a href="{% url 'voucher_delete' voucher.voucher_no %}"
           class="btn btn-danger">


            Delete


        </a>



        {% endif %}




        {% if voucher.status == "posted" %}



        <a href="{% url 'voucher_cancel' voucher.voucher_no %}"
           class="btn btn-danger">


            Cancel Voucher


        </a>



        {% endif %}




    </div>



</div>


{% endblock %}