{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">

    <h3 class="text-center mb-4">My Orders</h3>
        <form method="get" class="mb-3">

    <input type="text"
           name="q"
           value="{{ search_query }}"
           placeholder="Search by user id or username"
           class="form-control">

    <button class="btn btn-primary mt-2">
        Search
    </button>

    </form>

    {% for order in orders %}
    <div class="card p-3 mb-4 shadow">

        <div class="d-flex justify-content-between align-items-start">

    <!-- Left side -->
    <div>
        <h5>Order #{{ order.order_code }}</h5>
        <h6>Total: {{ order.total_price }} ৳</h6>

        {% if order.status == "accepted" %}
        <h6 class="text-success">
            Updated Total: {{ order.updated_total_price }} ৳
        </h6>
        {% endif %}
    </div>

    <!-- Right side -->
    <span class="badge badge-info">
        {{ order.get_status_display }}
    </span>

</div>

        <hr>

        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>SL</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Unit</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                    <th>Status</th>

                    {% if order.status == "accepted" %}
                        <th>Updated Qty</th>
                        <th>Updated Total</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for item in order.items.all %}
                    {% if not item.is_admin_added or item.is_visible_to_user %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.get_unit_display }}</td>
                        <td>{{ item.price_at_order_time }} ৳</td>
                        <td>{{ item.total_price }} ৳</td>

                        <td>
                            {% if order.status != "accepted" %}
                                <span class="badge badge-warning">Pending</span>
                            {% else %}
                                {% if item.status == 'accepted' %}
                                    <span class="badge badge-success">Accepted</span>
                                {% elif item.status == 'rejected' %}
                                    <span class="badge badge-danger">Rejected</span>
                                {% elif item.status == 'complimentary' %}
                                    <span class="badge badge-danger">Complimentary</span>
                                {% else %}
                                    <span class="badge badge-warning">Pending</span>
                                {% endif %}


                            {% endif %}
                        </td>

                        {% if order.status == "accepted" %}

                            <td>
                                {% if item.updated_quantity is not None %}
                                    {{ item.updated_quantity }}
                                {% else %}
                                    {{ item.quantity }}
                                {% endif %}
                            </td>

                            <td>
                                {{ item.updated_total }}
                            </td>

                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">



    {% if order.status == "accepted" %}


        <p>Discount: {{ order.discount|default:0 }} ৳</p>
        <p>Packaging & Delivery Charge: {{ order.packaging_charge|default:0 }} ৳</p>
        <h5 class="text-primary">
            Final Total: {{ order.final_total }} ৳
        </h5>
        <h5 class="text-primary">
            Final payment(With Bkash Charge): {{ order.final_payment}} ৳
        </h5>
         <h5 class="text-primary">
            Bkash Number: 01403181484
        </h5>

    {% endif %}

</div>

    </div>

    {% empty %}
        <p class="text-center">No orders found.</p>
    {% endfor %}

</div>

{% endblock %}